In [1]:
import pandas as pd

In [5]:
df_raw = pd.DataFrame({'var1' : [1, 2, 1],
                       'var2' : [2, 3, 2]})
df_raw

   var1  var2
0     1     2
1     2     3
2     1     2

In [11]:
df_new = df_raw.copy()  # copy df_raw
df_new

   var1  var2
0     1     2
1     2     3
2     1     2

In [17]:
df_new = df_new.rename(columns = {'var2' : 'v2'})  # rename var2 v2
df_new

   var1  v2
0     1   2
1     2   3
2     1   2